---
version: "3.8"

services:
  homebridge:
    image: ghcr.io/oznu/homebridge:latest@sha256:116da632e0976b72b8664924099669e915f533f047063f14d79203be148e320b
    container_name: homebridge
    restart: always
    network_mode: host
    volumes:
      - "{{ docker_base_dir }}/homebridge/config:/homebridge"
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"