---
version: "3.8"

services:
  homebridge:
    image: ghcr.io/oznu/homebridge:latest@sha256:ef363dbaa15ee4ea714abf9240f60506128bbcf2e9abc095fcd8acb8e6edd15f
    container_name: homebridge
    restart: always
    network_mode: host
    volumes:
      - "{{ docker_base_dir }}/homebridge/config:/homebridge"
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"