---
version: "3.8"

services:
  homebridge:
    image: ghcr.io/oznu/homebridge:latest@sha256:4e86bfce386af3f9bae1881d550a5b9efb36a5d0899bcdb21950a0bf925f0606
    container_name: homebridge
    restart: always
    network_mode: host
    volumes:
      - "{{ docker_base_dir }}/homebridge/config:/homebridge"
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"