---
version: "3.8"

services:
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:2022.9.0
    container_name: homeassistant
    restart: unless-stopped
    privileged: true
    network_mode: host
    volumes:
      - "{{ docker_base_dir }}/homeassistant/config:/config"
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 8123:8123
  code:
    container_name: vscode
    image: codercom/code-server:4.7.0
    ports:
      - "3991:8080"
    volumes:
      - "{{ docker_base_dir }}/homeassistant/.vscode:/home/coder/.config"
      - "{{ docker_base_dir }}/homeassistant/config:/home/coder/project"