---
version: "3.8"

services:
  scrypted:
    image: ghcr.io/koush/scrypted:18-jammy-full-v0.39.1
    container_name: scrypted
    network_mode: host
    volumes:
      - "/storage/scrypted:/nvr"
      - "{{ docker_base_dir }}/scrypted:/server/volume"
    restart: unless-stopped
    environment:
      - SCRYPTED_NVR_VOLUME=/nvr
      - SCRYPTED_DOCKER_AVAHI=true
    devices:
      - "/dev/dri:/dev/dri"
